# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nblxzcjhssochybockux.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_OkFjbdxWdDuJSo6wNPv8SQ_3II3ycp9
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ibHh6Y2poc3NvY2h5Ym9ja3V4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg5ODIyOCwiZXhwIjoyMDkyNDc0MjI4fQ.9grAYvC-CIANXhhZ8kyZ2Bl2ti-nF1W29ANur2-_Nzc

# Google OAuth
GOOGLE_CLIENT_ID=112615713912344255408
GOOGLE_CLIENT_SECRET=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

# NextAuth
NEXTAUTH_SECRET=ca8099a428609e9d55d53c365b99c002
NEXTAUTH_URL=https://659k6y-3000.csb.app/

# Crypto APIs
COINGECKO_API_KEY=CG-ygz7NPhN8wRuEcZMEKLiGeSX
FREECRYPTO_API_KEY=1m6zcie8queow8m3piu8

# App
TEACHER_EMAIL=rnreasey@southfayette.org
